
header { 
    background-color: #2B2B39;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

header .sectionSize {
    justify-content: space-between;
    height: 90px;  
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 23px;
}

header nav ul li a{
   font-size: 16px;
   color: rgba(255, 255, 255, 0.8);
   padding-bottom: 2px;
   white-space: nowrap;
}


header nav ul li a:hover{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    border-bottom: 2px solid #FFFFFF;
}


@media (max-width: 836px) {
    header { 
        padding: 20px 20px;
    }

    header .sectionSize{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100vw;
    }
}

@media (max-width: 542px) {
    header { 
        height: auto;
      
    }
    
    header nav ul {
       flex-wrap: wrap;
        
       align-items: center;
       justify-content: center;
    }  
    header nav ul li {
      margin: 0 20px;
    }  
}

@media (max-width: 526px) {
    header nav ul {
      margin-top: 20px;
       gap: 0;
    } 
}
